### Load your Libraries

In [1]:
# Load Azure Libaries
from azureml.core import Datastore
from azureml.core.dataset import Dataset
from azureml.core.workspace import Workspace
from azureml.core.authentication import InteractiveLoginAuthentication

### Set your Workspace

In [2]:
# Check the base version of AzureMl
import azureml.core
print("You are currently using version " + azureml.core.VERSION + " of the Azure ML SDK")

You are currently using version 1.5.0 of the Azure ML SDK

In [3]:
# Retrieve your workspace
ws = Workspace.from_config()

### Set your Datastore

In [4]:
# Retrieve your Datastore
datastore_name = "mlteachingdatastore" # CHANGE HERE
datastore = Datastore.get(ws, datastore_name)

### Pull in Data from your Datastore

### Before moving to the next cell, please get the dataset from [Auto MPG Data Set](https://archive.ics.uci.edu/ml/datasets/auto+mpg) and then add it to a blob datastore, then proceed to the next cell.

In [60]:


datastore_path_1 = [
                  (datastore, 'rawData/06-01-2020_083959_UTC/auto-mpg.csv') # CHANGE HERE
                 ]

In [61]:
# Pull in Data as Tabular (Must be Tabular)
# inference_data = Dataset.Tabular.from_delimited_files(datastore_path_1)

training_data = Dataset.Tabular.from_delimited_files(datastore_path_1,header=False)

In [62]:
ds = training_data.to_pandas_dataframe()

In [63]:
ds.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9
0,18.0,8,307.0,130,3504,12.0,70,1,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165,3693,11.5,70,1,"\t""buick skylark 320"""
2,18.0,8,318.0,150,3436,11.0,70,1,"\t""plymouth satellite"""
3,16.0,8,304.0,150,3433,12.0,70,1,"\t""amc rebel sst"""
4,17.0,8,302.0,140,3449,10.5,70,1,"\t""ford torino"""

### Register your Datasets

In [65]:
data_registered_1 = training_data.register(workspace=ws,
                                              name='auto-mpg-classification-input', # CHANGE HERE
                                              description='contains full training set without headers', # CHANGE HERE
                                              tags= {'type': 'csv', "headers" : "false"}, # CHANGE HERE
                                              create_new_version=True)